# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/
frontend/src/firebase.js

# Firebase Keys (Crucial for security)
backend/firebase-key.json
serviceAccountKey.json

# Local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
dist/
frontend/dist/
build/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db